// Global styling for this template
html,
body {
  width: 100%;
  height: 100%;
  background: none;
}

body {
  @include body-font;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: fade-out($gray-darker, 0.9);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

h1 {
  font-size: $font-size-3xl;
}

h2 {
  font-size: $font-size-2xl;
}

h3 {
  font-size: $font-size-xl;
}

@media (min-width: 992px) {
  h1 {
    font-size: $font-size-hero;
  }
  h2 {
    font-size: $font-size-2xl;
  }
  h3 {
    font-size: $font-size-xl;
  }
}

p {
  font-size: $spacing-l;
  line-height: 1.5;
  margin-bottom: $spacing-m;
}

p.large {
  font-size: $font-size-xl;
}

section {
  padding: $spacing-3xl * 2 0;
}

a {
  color: $theme-primary;
  @include transition-all;
  &:hover,
  &:focus {
    color: $theme-tertiary;
  }
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
  color: white;
  background-color: $theme-secondary;
}

.btn {
  @include alt-font;
  color: white;
  border: 1px solid;
  border-radius: 300px;
  background-color: $theme-primary;
  font-size: $spacing-s;
  padding: $spacing-m $spacing-4xl;
}
