// Styling for the masthead
header {
  height: 100vh;
  background: url("../img/pattern7.png");

  .header-content {
    p {
      @include heading-font;
      font-size: $font-size-l;
    }
  }

  @media (min-width: 992px) {
    .header-content {
      p {
        font-size: $font-size-xl;
      }
    }
  }
}
