// Styling for the navbar
#mainNav {
  @include transition-all;

  background-color: white;
  font-size: $font-size-xs;

  .navbar {
    &-brand {
      @include alt-font;
      color: $theme-primary;
    }

    &-nav {
      @include alt-font;

      > li > a {
        color: $theme-primary;
        &:hover,
        &:focus {
          color: $theme-secondary;
        }
      }
    }

    &-toggler {
      font-size: $font-size-xs;
      color: $theme-primary;
      padding: $spacing-2xs $spacing-xs;
    }
  }

  @media (min-width: 992px) {
    background: none;
    font-size: $font-size-xs;

    .navbar-brand {
      color: transparent;
    }

    &.navbar-shrink {
      border-color: fade-out($gray-darker, 0.9);
      background-color: $theme-primary;

      .navbar-brand,
      .navbar-nav > li > a {
        color: $theme-secondary;

        &:hover,
        &:focus {
          color: white;
        }
      }
    }
  }
}
